@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --gray-50: #F6F8FF;
    --gray-400: #1E2A47;
    --gray-500: #141D2F;

    --main-color: #0079FF;
    --error-color: #F74646;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--gray-500);
}

.container {
    width: 100%;
    padding: 0 24px;
}

@media screen and (min-width: 767px) {
    .container {
        width: 734px;
        padding: 0;
        margin: 0 auto;
    }
}