.header {
    margin: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo {
    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: 700;
    color: var(--gray-50);
}